COMPOSE_PROJECT_NAME=YOUR_PROJECT_NAME
DOCKER_HOST_IP=10.0.75.1

# Point to the path of your applications code on your host
APP_CODE_PATH_HOST=./src
DATA_PATH_HOST=./docker_data

# Point to where the `APP_CODE_PATH_HOST` should be in the container
APP_CODE_PATH_CONTAINER=/var/app

SCRAPY_VERSION=1.6

RABBITMQ_NODE_HOST_PORT=5672
RABBITMQ_MANAGEMENT_HTTP_HOST_PORT=15672
RABBITMQ_MANAGEMENT_HTTPS_HOST_PORT=15671
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

TERM=xterm-256color
