PROXY=
PROXY_AUTH=
PROXY_ENABLED=False

CONCURRENT_REQUESTS=16
CONCURRENT_REQUESTS_PER_DOMAIN=8
DOWNLOAD_TIMEOUT=180
DOWNLOAD_DELAY=0

LOG_LEVEL=DEBUG
LOG_FILE=
PIKA_LOG_LEVEL=WARN

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_VIRTUAL_HOST=/

SPIDERS_SLEEP_INTERVAL=

LINKS_QUEUE=your links queue
SAVER_QUEUE=your queue for saved items

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASS=
MYSQL_DB=db_name

SCHEDULER_THRESHOLD=200
QUEUE_THRESHOLD=5000

HTTPCACHE_ENABLED=False
HTTPCACHE_IGNORE_HTTP_CODES=403,429,500,502,503
